export(
    "read_icalendar",
    "vevent",
    "to_vevent",
    "rrule",
    "save_attachments")

importFrom("stats", "runif")
importFrom("utils", "packageVersion")

S3method("as.data.frame", "icalendar")
S3method("print", "icalendar")
